/*.container {
  margin: 72px auto;
  max-width: 730px;
}*/

.container{
  padding: 72px 0;
  display: flex;
  justify-content: center;
  background: #F8F8FB;
  min-height: 100vh;
}

.container.dark{
  background: #0C0E16;

}

