.container {
  & > div {
    h4 {
      color: #7c5dfa;
      font-size: 12px;
      font-weight: 700;
      line-height: 15px;
      letter-spacing: -0.25px;
      text-align: left;
      margin-bottom: 24px;
      margin-top: 48px;
    }

    .single,
    .double,
    .triple {
      margin-bottom: 24px;
    }

    .double,
    .triple {
      display: flex;
      gap: 24px;
      & > div {
        flex: 1 1 0;
        width: 0;
      }
    }
  }
}
