.container {
  position: absolute;
  top: 0;
  left: 90px;
  right: 0;
  background: rgba(0, 0, 0, 0.2);
  min-height: 100vh;
  &.dark{
    form {

      background: #141625;
      input, select{
        background: #252945 !important;
        border: 1px solid #252945;
        border-radius: 4px;
        color: white !important;
      }

      h3 {
        color: white;

      }
    }
  }
  form {
    padding: 56px 43px;
    background: #ffffff;
    border-radius: 0px 20px 20px 0px;
    width: 750px;
    max-height: 100vh;
    overflow: auto;

    h3 {
      color: #0c0e16;
      font-size: 24px;
      font-weight: 700;
      line-height: 32px;
      letter-spacing: -0.5px;
      text-align: left;
      margin-bottom: 43px;
    }
  }
}
