.container {
  display: flex;
  align-items: center;
  margin-bottom: 65px;

  &.dark {
    .title {
      h2 {
        color: #fff;
      }

      p {
        color: #dfe3fa;
      }
    }

    select{
      color: gray !important;
    }
  }

  .title {
    margin-right: auto;
    h2 {
      color: #0c0e16;
      font-size: 32px;
      font-weight: 700;
      line-height: 36px;
      letter-spacing: -1px;
      text-align: left;
    }

    p {
      color: #888eb0;
      font-size: 12px;
      font-weight: 500;
      line-height: 15px;
      letter-spacing: -0.25px;
      text-align: left;
    }
  }
}


